/* Część o nas */
#aboutUs {
  background-color: #f1f1f1;
}
.workers {
  font-weight: 700;
  font-size: 36px;
  padding-top: 51px;
  background-color: #f1f1f1;
  text-align: center;
}

.employee-picture {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-image: url("Pracownik.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.team-member {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  font-size: 18px;
  gap: 50px;
  align-items: center;
}
.team-member:nth-of-type(2) {
  padding-bottom: 50px;
}

.employee-details {
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  text-align: justify;
}

.employee-name {
  height: 50%;
  font-weight: bolder;
}
.employee-description {
  height: 50%;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .team-member:nth-of-type(2) {
    flex-direction: row-reverse;
    padding-bottom: 44px;
  }

  .team-member:nth-of-type(2) .employee-details {
    text-align: end;
    margin-right: 44px;
    margin-left: 0;
  }
  .workers {
    display: block;
    text-align: initial;
  }
  .employee-picture {
    width: 221px;
    height: 220px;
  }
  .team-member {
    align-items: center;
    flex-direction: row;
    gap: 0px;
  }
  .employee-details {
    width: 72%;
    margin-left: 44px;
    text-align: initial;
  }
}
