/* //Część header */
.header-flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.company-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding-bottom: 30px;
}

header {
  height: calc(100vh - 50px);
  background-image: url(https://i.picsum.photos/id/221/1440/879.jpg?hmac=-y8GQ4KS-tmCflYwphSLZmsTu-m0rL8U6CldcgLjJoA);
  background-size: cover;
}

.header-container {
  width: 359px;
  height: 215px;
}

.slogan-introduction {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 30px;
}
.btn-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
  padding: 10px;
  transition: 1s;
}
.btn-offer {
  width: 164px;
  height: 41px;
  background: rgba(0, 0, 0, 0.15);
  border: 3px solid #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
}

.btn-offer:hover {
  background-color: white;
}

.btn-offer:hover > .btn-link {
  color: black;
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 577px;
    height: 215px;
  }
}
